.delete_btn{
    background-color: #198754;
    margin-left: 50px;
    border: none;
    color: white;
}

li{
    text-align: start;
    margin-top: 10px;
}

li:hover{
    cursor: pointer;
}

.check{
    color: grey;
    text-decoration: line-through;
}

#textarea{
    resize: none;
}



